<div class="container">
<h2 class="text-muted text-center">Update User</h2>
  <form #form="ngForm" class="col-sm-6 bg-light mx-auto my-4" (ngSubmit)="updateUser($event)">
    <div class="form-group">
      <label for="id">id:</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="clickedUser.id"
        name="id"
      />
    </div>
    <div class="form-group">
      <label for="name">name:</label>

      <input
        type="text"
        class="form-control"
        [(ngModel)]="clickedUser.name"
        name="name"
      />
    </div>
    <div class="form-group">
      <label for="email">email:</label>

      <input
        type="text"
        class="form-control"
        [(ngModel)]="clickedUser.email"
        name="email"
      />
    </div>
    <div class="form-group">
      <label for="username">username:</label>

      <input
        type="text"
        class="form-control"
        [(ngModel)]="clickedUser.username"
        name="username"
      />
    </div>

    <div class="form-group">
      <label for="website">website:</label>

      <input
        type="text"
        class="form-control"
        [(ngModel)]="clickedUser.website"
        name="website"
      />
    </div>
    <div class="form-group">
      <label for="phone">phone:</label>

      <input
        type="text"
        class="form-control"
        [(ngModel)]="clickedUser.phone"
        name="phone"
      />
    </div>
    <input type="submit" value="Update" class="btn btn-info button" />

  </form>
</div>
