<div class="container">
  <h2 class="text-muted text-center my-4">Edit User</h2>
<form [formGroup]="editForm" class="mx-auto col-sm-6 py-4 bg-light" >
  <div class="form-group">
    <label for="name">Name:</label>
  <input type="text" formControlName="name" class="form-control"  [value]="clickedUser.name"/>
</div>
  <div class="form-group">
    <label for="email">Email:</label>
  <input type="text" formControlName="email" class="form-control"  [value]="clickedUser.username"/>
</div>
  <div class="form-group">
    <label for="username">Username:</label>
  <input type="text" formControlName="username" class="form-control" [value]="clickedUser.email" />
</div>
  <div class="form-group">
    <label for="city">city:</label>
  <input type="text" formControlName="city" class="form-control"  [value]="clickedUser.address.city"/>
</div>
  <div class="form-group">
    <label for="phone">phone:</label>

  <input type="text" formControlName="phone" class="form-control"  [value]="clickedUser.phone"/>
</div>
<button type="submit" class="btn btn-info" (click)="updateUser()">update</button>

</form>
</div>
